<div id="<%= dom_id user %>">
  
  <p>
    <strong>Name:</strong>
    <span style="font-weight:bold;"><%= user.name %></span>
  </p>

  <p>
    <strong>Email:</strong>
    <span style="font-weight:bold;"><%= user.email %></span>
  </p>
  <p>
    <strong>Department:</strong>
    <span style="font-weight:bold;"><%= user.department.name %></span>
  </p>

  <p>
    <strong>Branch:</strong>
    <span style="font-weight:bold;"><%= user.branch.name %></span>
  </p>
  <p>
    <strong>Role:</strong>
    <span style="font-weight:bold;"><%= user.role %></span>
  </p>

  

</div>
